
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.todoDiv input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 20px;
  border-color:#7c80c8;
  
}

.mytodos {
  background: rgba(254, 255, 255, 0.811);
  backdrop-filter: blur(2px);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mytodos select {
  background-color: rgb(209, 106, 106);
  color: white;
  width:fit-content;
}

.todoDiv button{
  background-color:rgb(75, 169, 112) ;
  height: 40px;
  width: 150px;
  
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  background-color: rgb(130, 228, 169) ;
}

.card button.editbtn  {
background-color:  rgb(27, 115, 62) ; 
margin-right: 10px;
color: white;

}

.card button.deletebtn {
  background-color:  rgb(235, 88, 88) ; 
  color:white
  }

  .card select.completed {

    background-color:green ;
    color: white;
  }

  .card select.notcompleted {

    background-color:red ;
    color: white;
  }